@import '../../../styles/mixin/mixin';

.footer{
    .scrollTop{
        color: cl(cl-black);
        padding: 1rem 0;
        text-align: center;
        background-color: cl(cl-blue);
        position: relative;
        height: 70px;
        
        
        a{
            cursor: pointer;
            color: cl(cl-white);
            background-color: cl(cl-darkBlue);
            border: 1px solid cl(cl-darkBlue);
            border-radius: 50%;
            display: inline-block;
            width: 130px;
            height: 130px;
            text-align: center;
            line-height: 130px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;

            @include hover{
                color: cl(cl-darkBlue);
                background-color: cl(cl-white);
                border: 1px solid cl(cl-darkBlue);    
            }
        }
    }

    .pfContents{
        padding: 1rem 0;
        background-color: cl(cl-blue);

        .title{
            margin-bottom: 1rem;

            p{
                color: cl(cl-darkBlue);
                font-weight: 700;    
            }
        }

        .link{
            ul{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 1rem;
                justify-items: center;
                
                a{
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    align-items: center;
                    color: cl(cl-darkBlue);
                    cursor: pointer;
                    font-size: 12px;
        
                    &:before{
                        content: '';
                        background: cl(cl-darkBlue);
                        display: inline-block;
                        width: 25px;
                        height: 20px;
                    }
        
                    @include hover{
                        color: cl(cl-white);
                        
                        &::before{
                            background: cl(cl-white);
                        }
                    }
        
                }
        
                .work{
                    a{
                        &::before{
                            mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/work_icon.svg) no-repeat center center / contain;
                            -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/work_icon.svg) no-repeat center center / contain;
                        }    
                    }
                }
        
                .about{
                    a{
                        &::before{
                            mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/0514a917fb7ca91c5e4d7e22d5c39a088d61eed8/public/images/icon/about_icon.svg) no-repeat center center / contain;
                            -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/0514a917fb7ca91c5e4d7e22d5c39a088d61eed8/public/images/icon/about_icon.svg) no-repeat center center / contain;
                        }    
                    }
                }
        
                .skill{
                    a{
                        &::before{
                            mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/skill_icon.svg) no-repeat center center / contain;
                            -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/skill_icon.svg) no-repeat center center / contain;
                        }    
                    }
                }
        
                .news{
                    a{
                        &::before{
                            mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/news_icon.svg) no-repeat center center / contain;
                            -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/cc213965352f2e94e4f30def25d075348d685e35/public/images/icon/news_icon.svg) no-repeat center center / contain;
                        }    
                    }
                }
            }
        }


    }

    .myContents{
        background-color: cl(cl-lightBlue);
        padding: 1rem 0;

        .title{
            p{
                margin-bottom: 1rem;
                color: cl(cl-darkBlue);
                font-weight: 700;
            }
        }

        .link{
            ul{
                display: flex;
                gap: 1rem;

                li{
                    a{
                        color: cl(cl-darkBlue);
                        text-decoration: underline;

                        @include hover{
                            color: cl(cl-white);
                        }
                    }
                }
            }
        }
    }

    .copyRight{
        background-color: cl(cl-darkBlue);
        padding: 1rem;
        p{
            text-align: end;
            color: cl(cl-white);
            font-size: 14px;
        }
    }

}