$colors: (
  cl-text: #333333,
  cl-base: #ffffff,
  cl-base-bg: #f7f7f7,
  cl-base-border: #f2f2f2,
  cl-gray-bg: #ccc,
  cl-gray-text: #7f7f7f,
  cl-primary: #6699cc,
  cl-primary-light: #dde9f8,
  cl-primary-dark: #3d85cc,
  cl-brand-blog: #8ab19e,
  cl-star: #ffa500,
  cl-overlay: #000000a1,
  cl-shadow: #0000004d
);

@function cl($key) {
  @return map-get($colors, $key);
}
