@import '../../../styles/mixin/mixin';

.skillList{
    background-color: cl(cl-base);
    // background-color: #edf9ff;
    position: relative;

    .wave_top{
        width: 100%;
        position: absolute;
        top: -100px;
        z-index: 2;
        @include md {
            top: -200px;
        }    

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100px;
            background: url(https://raw.githubusercontent.com/zatty-5118/portfolio/f3161b05abdb8b5819f3501b7c9c263a2cfeaa81/public/images/skillList/decoration/wave-top-white.svg) no-repeat center center / cover;
            @include md {
                height: 200px;
            }    
        }
    }

    .wave_bottom{
        width: 100%;
        position: absolute;
        bottom: -100px;
        z-index: 2;
        @include md {
            bottom: -200px;
        }    
        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100px;
            background: url(https://raw.githubusercontent.com/zatty-5118/portfolio/f3161b05abdb8b5819f3501b7c9c263a2cfeaa81/public/images/skillList/decoration/wave-bottom-white.svg) no-repeat center center / cover;
            @include md {
                height: 200px;
            }    
        }
    }
    
    .wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    
        @include xxl {
            gap: 3rem;    
        }
    
    }
    
    
    .skill{
        &_list{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 1rem;
            margin-top: 1rem;
    
            @include md {
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
            }
    
            @include xxl {
                grid-template-columns: repeat(3,1fr);
                gap: 3rem;    
            }
        
        }
    
        &_item{
            display: flex;
            gap: 0.75rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid cl(cl-base-border);
    
            .details{
                width: 100%;
            }
    
            .header{
                display: flex;
                justify-content: space-between;
    
                h3{
                    font-size: 1em;
                }
            }
            
            .image{
                width: 40%;
                max-width: 70px;
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .rate{
                &_star{
                    position: relative;
                    display: inline-block;
        
                    &::before,
                    &::after{
                        content: "★★★";
                    }
        
                    &::before{
                        color: cl(cl-gray-bg);
                    }
        
                    &::after{
                        position: absolute;
                        left:0;
                        top:0;
                        color: cl(cl-star);
                        overflow: hidden;  
                    }    
                }
                &_0{
                    &::after{
                        width: 0;
                    }
                }
    
                &_1{
                    &::after{
                        width: 1em;
                    }
                }
    
                &_1-5{
                    &::after{
                        width: 1.5em;
                    }
                }
    
                &_2{
                    &::after{
                        width: 2em;
                    }
                }
    
                &_2-5{
                    &::after{
                        width: 2.5em;
                    }
                }
    
                &_3{
                    &::after{
                        width: 3em;
                    }
                }
            }
    
            .description{
                font-size: 12px;
            }
        }
    }        
}
