@import '../../../styles/mixin/mixin';

.header{
    border-bottom: 3px solid cl(cl-primary-light);
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: cl(cl-primary);
    z-index: 3;
    display: flex;
    align-items: center;

    @include md {
        height: 74px;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;    
        width: 100%;
        margin: 0 auto; 

        @include md {
            max-width: 652.8px;
        }
    
        @include lg {
            max-width: 843.2px;
        }
    
        @include xl {
            max-width: 1020px;
        }
    
        @include xxl {
            max-width: 1190px;
        }    
    }

    .logo{
        display: flex;
        align-items: center;

        a{
            opacity: 1;

            @include hover {
                opacity: 0.5;
            }

            img{
                width: 100%;
                min-height: 42px;
                max-width: 120px;
            }
        }
    }

    .menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @include md {
            gap: 1rem;
            align-items: flex-end;
        }

        .link{

            a{
                font-size: 12px;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                color: cl(cl-base);
                cursor: pointer;
                line-height: 1;
                
                &:before{
                    content: '';
                    background: cl(cl-base);
                    display: inline-block;
                    width: 25px;
                    height: 20px;
                }

                @include hover{
                    color: cl(cl-primary);

                    &::before{
                        background: cl(cl-primary);
                    }
                }
            }
        }

        .work{
            a{
                &::before{
                    mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/work_icon.svg) no-repeat center center / contain;
                    -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/work_icon.svg) no-repeat center center / contain;
                }    
            }
        }

        .about{
            a{
                &::before{
                    mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/about_icon.svg) no-repeat center center / contain;
                    -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/about_icon.svg) no-repeat center center / contain;
                }    
            }
        }

        .skill{
            a{
                &::before{
                    mask: url(ahttps://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/skill_icon.svg) no-repeat center center / contain;
                    -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/skill_icon.svg) no-repeat center center / contain;
                }    
            }
        }

        .news{
            a{
                &::before{
                    mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/news_icon.svg) no-repeat center center / contain;
                    -webkit-mask: url(https://raw.githubusercontent.com/zatty-5118/portfolio/08f979ddd7f2ed365b459eb65fe9466934152ff7/public/images/other/icon/news_icon.svg) no-repeat center center / contain;
                }    
            }
        }

    }
}

